<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
    <link href="../../Content/StyleSheet1.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>&nbsp; SGRI - Sistema de Gerenciamento de Recursos de Infra - Estrutura</h1>
            </div>
              
            <div id="logindisplay">
                <% Html.RenderPartial("LogOnUserControl"); %>
            </div> 
            
            <div id="menucontainer">
            
                <ul id="menu">              
                    <li><%: Html.ActionLink("Home", "Index", "Home")%></li>
                    <li><%: Html.ActionLink("Equipamento", "Index", "Equipamentos") %></li>
                    <li><%: Html.ActionLink("Sala","Index", "Salas") %></li>
                    <li><%: Html.ActionLink("Usuários", "Index", "Usuario") %></li>
                    <li><%: Html.ActionLink("Importações de Arquivos", "Index", "Importar") %></li>
                    <li><%: Html.ActionLink("Reservas para Eventos", "Index", "Reserva") %></li>
                    <li><%: Html.ActionLink("Gerenciar Ocorrências", "Index", "Ocorrencia") %></li>
                    <li><%: Html.ActionLink("Emissão de Relatórios", "Index", "Relatorio") %></li>
                    <li><%: Html.ActionLink("Sobre", "About", "Home")%></li>
                </ul>
            
            </div>
        </div>

        <div id="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />

            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
